.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card {
  flex: 100 300 300px;
  margin: 15px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.card img {
  width: 150%;
  object-position: center;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }


  #buttonMostrar{
    background: #B22837;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    margin: 5px;
    flex: 5 2 100px;
  }

  #buttonMostrarMaes{
    background: #B22837;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    margin: 5px;
    flex: 5 2 100px;
  }

  a{
    color: white;
    text-decoration: none;
  }
