a.page-link {
    border-radius: 25px;
    font-size: large;
}

.pagination a.active {
    border-radius: 5px;
    background-color: #ACA48C;
}


body {
    background-color: #F8F8F7;
}

.btn-primary {
    width: 200px;
}

.p-secondary {
    color: #bcac94;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p-primary {
    color: #7C1C24;
    font-weight: bolder;
    font-size: 25px;
    font-style: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link {
    color: black;
}

label {
    color: #ACA48C;
    font-weight: bold;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.form-control{
    width: 500px;
}