.center {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}
.fileLoad {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}
.pagination {
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
}

a.page-link {
    border-radius: 25px;
    font-size: large;
}

.pagination a.active {
    border-radius: 5px;
    background-color: #ACA48C;
}

.form-control {
    position: absolute;
    top: -250px;
    width: 400px;
    left: -200px;
}

body {
    background-color: #F8F8F7;
}

button {
    width: 200px;
}

img {
    position: absolute;
    top: -650px;
    right: 600px;
}

.p-secondary {
    color: #bcac94;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    text-align: center;
    top: -350px;
    width: 750px;
    left: -350px;
}

.p-primary {
    color: #7C1C24;
    font-weight: bolder;
    font-size: 25px;
    font-style: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    align-self: center;
    top: -450px;
    width: 1000px;
    left: -450px;
}

.link {
    color: black;
}

label {
    color: #ACA48C;
    font-weight: bold;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}