
<router-outlet></router-outlet>

<body>

  <div class="container"></div>
  <div class="flex-container">
  <footer>
    <!-- Footer main -->
    <section class="ft-main">
      <div class="ft-main-item">
        <ul>
            <li style="font-weight:bold; font-size: 25px;"><a href="/principal">Inicio</a></li>
            <li style="font-weight:bold;font-size: 25px;"><a href="https://erplawyers.com/nuestro-bufete/">Acerca</a></li>
            <li style="font-weight:bold;font-size: 25px;"><a href="https://erplawyers.com/servicios/" >Servicios</a></li>
            <li style="font-weight:bold;font-size: 25px;"><a href="https://erplawyers.com/blog/" >Blog</a></li>
            <li style="font-weight:bold;font-size: 25px;"><a href="https://erplawyers.com/contactenos/" >Contáctanos</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
       <img src="../assets/img/logo-b.png" width="75px">
      </div>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal">
      <ul class="ft-legal-list">
        <li style="font-size:18px; font-weight:bold;"><a href="https://erplawyers.com/politica-de-calidad/">Política de calidad</a></li>
        <li style="color:dimgrey;font-size: 25px;">&copy; copyright ERP Lawyers 2022 - Todos los derechos reservados</li>
      </ul>
    </section>
  </footer>
  </div>
</body>
