<link rel="stylesheet" href="../css/admin.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/style.css">

<div id="main" ng-app>

  <nav class="{active}" ng-click="$event.preventDefault()" ng-init="active='home'">

    <ul>
      <li><a href="/admin">Inicio</a></li>
      <li><a href="/clientesAdmin">Clientes</a></li>
      <li><a href="/colaboradoresAdmin" >Colaboradores</a></li>
      <li><a href="/principal">Salir</a></li>
    </ul>
  </nav>

</div>





<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
