<!doctype html>
<html lang="en">

	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>


  <div class="flex-container">

<div><button routerLink="/colaboradoresAdmin" align="left"><img src="../../../../assets/img/back_arrow.png"> </button></div>
	<form action="#" target="" method="get" name="formDatosPersonales" id="formDatosPersonales">

		<label for="nombre" style="font-size: 19px ;">Nombre</label>
		<input [(ngModel)]="collaboratorData.name" type="text" name="nombre" id="nombre" placeholder="Escriba el nombre"/>

		<label for="apellidos" style="font-size: 19px ;">Apellidos </label>
		<input [(ngModel)]="collaboratorData.lastname" type="text" name="apellidos" id="apellidos" placeholder="Apellidos"/>

		<label for="cedula" style="font-size: 19px ;">Cédula</label>
		<input [(ngModel)]="collaboratorData.dni" type="text" name="cedula" id="cedula" placeholder="Número de cédula"/>

		<label for="email" style="font-size: 19px ;">Correo electrónico</label>
		<input [(ngModel)]="collaboratorData.email" type="email" name="email" id="email" placeholder="Correo electrónico" required/>

		<input type="submit" (click)="addCollaborator()" name="enviar" value="Registrar abogado"/>
	</form>
</div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>


</html>
